@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

body {
  padding-top:50px;
}

.color-list {
  padding-top: 5px;
  list-style-type: none;
}

.color-list li {
  max-height: 50px;
  overflow: hidden;
  padding: 5px;
}