<div navbar="applets"></div>


<div class="container">
    <h2>Ulam Spiral</h2>

    <div class="row">
        <div id="ulam-canvas-container" class="span8"></div>

        <div class="span4">
            <form novalidate>
                <fieldset>
                    <legend>Spiral Options</legend>

                    <div class="control-group">
                        <label class="control-label">Width</label>

                        <div class="controls">
                            <input class="input-xlarge" type="number" min="1" ng-model="width"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-primary" ng-click="draw()">Draw</button>
                        </div>
                    </div>

                    <hr>

                    <div class="control-group">
                        <div class="controls">
                            <input type="color" ng-model="newColor"/>
                            <button class="btn" ng-click="addColor()">Add Color</button>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <ul class="color-list">
                                <li ng-repeat="color in colors" style="background: {{color.value}};">
                                    <button class="btn btn-danger pull-right" ng-click="removeColor(color.id)">X
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>