<div navbar="applets"></div>

<div class="well">
    <h2>Ulam Spiral</h2>

    <canvas class="paper-app" id="ulamCanvas"></canvas>

    <script type="text/paperscript" canvas="ulamCanvas">
        var path = new Path.Circle(view.center, 100);
        path.strokeColor = 'red';
        path.strokeWidth = 30;
    </script>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci aspernatur culpa dignissimos, dolor
        doloremque esse facere fugit ipsa laboriosam minima, necessitatibus nemo officia officiis provident quasi, quia
        velit voluptates!</p>
</div>